/_ReSharper.Caches/Rider202.solution.00/
/Common/bin/Debug/netstandard2.1/
/DAL.Abstract/obj/
bin
obj
/.idea/
/solution.sln.DotSettings.user
/solution.v3.ncrunchsolution.user
/.vs/solution/
/_ReSharper.Caches/ReSharperPlatformVs16201_c16928bf.solution.00/
/_ReSharper.Caches
/Web.API/logs/log-20201019.txt
/Web.API/.vscode
/Web.API/logs
/.vscode/launch.json
/.vscode/tasks.json
/.idea
